{% extends 'base.html.twig' %}

{% block body %}


<div class="container">
    <h2>Alert Movies</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="alert alert-danger" role="alert" style="display: none" id="alertMsg">please write something to begin</div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for actors" id="actor" name="actor">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="firstCall();">Search</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>

    <div class="container" style="display: none" id="dataTable">
        <table id="example" class="display" cellspacing="0" width="100%" >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Movies</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="movieList">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalMovieTitle"></h4>
                </div>
                <div class="modal-body">
                    <div class="container" id="dataTable">
                        <table id="movieListTable" class="display" cellspacing="0" width="100%" >
                            <thead>
                            <tr>
                                <th>Movie Name</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/datatable.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/movies/services.js') }}"></script>
{% endblock %}
